body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000; 
    transition: background-color 1s ease; 
}

.countdown-container {
    margin-top: 20%;
}

#countdown {
    font-size: 3em;
    color: #333;
    font-weight: bold;
}
