body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3064cf; 
}

.countdown-container {
    margin-top: 20%;
}

#countdown {
    font-size: 3em;
    color: #333;
    font-weight: bold;
}

p {
    font-size: 0.0005em;
					color: #333;
    text-align: center;
} 